.category-products {
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.category-products .products-grid {
    margin-left: -10px;
    margin-right: -10px;
}

ul.products-grid {
    padding: 0;
    margin: 0;
}

.category-products ul.products-grid li.item {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.products-grid .item .item-inner {
    position: relative;
    text-align: center;
    overflow: hidden;
    border: 1px #e5e5e5 solid;
    padding-bottom: 18px;
    background: #fff;
}

.products-grid .item .item-inner .item-img {
    position: relative;
}

.products-grid .item .item-inner .item-img .item-img-info {
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: relative;
}

.products-grid .item .item-inner .item-img .item-img-info a.product-image {
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

a {
    color: #8ac42f;
}

.products-grid .item .item-inner .item-img .item-img-info a.product-image img {
    width: 100%;
}

.item .item-inner .item-img .item-img-info a.product-image img {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    max-width: 100%;
    width: 100%;
}

.item .item-inner .item-img .item-img-info a.product-image img:hover {
    transform: scale(1.5);
}

.products-grid .item .item-inner .item-info .info-inner {
    border-top: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.products-grid .item .item-inner .item-info .info-inner .item-title {
    margin-bottom: 3px;
    padding-top: 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-grid .item .item-inner .item-info .info-inner .item-title h6 {
    margin: auto;
    margin-bottom: 4px;
}

.products-grid .item .item-inner .item-info .info-inner .item-title h6 a {
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.5px;
    background-color: transparent;
    color: #333;
}

.rating {
    color: #999;
    font-size: 12px;
}

.regular-price {
    display: inline;
}

.regular-price .price {
    font-size: 13px;
    color: #000;
    font-weight: 600;
}

.price {
    white-space: nowrap !important;
}

.products-grid .item .item-inner .action {
    margin-top: 8px;
}

button.button {
    background: none repeat scroll 0 0 #fff;
    color: #e66114;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: normal;
    padding: 6px 12px;
    text-transform: uppercase;
    border: 1px #d1d1d1 solid;
    font-weight: 600;
}

button.button:hover {
    background: none repeat scroll 0 0 #e66114;
    color: #fff;
    /* #e66114 */
}

.item .item-inner:hover {
    border: 1px solid #e66114;
}